@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Noto+Sans+KR:wght@400;500;700;800&display=swap');

:root{
    --red:#e71b30;
    --ink:#151515;
    --muted:#777;
    --paper:#f5f5f3;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Noto Sans KR',sans-serif;
    color:var(--ink);
}


.logo{
    display:block;
    text-decoration:none;
    font:900 42px Arial,sans-serif;
    letter-spacing:-3px;
    color:#222;
}

.logo span{
    color:var(--red);
}


.material-symbols-outlined{
    font-size:23px;
    width:24px;
    text-align:center;
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
}

.primary-button{
    display:inline-flex;
    align-items:center;
    gap:20px;

    padding:14px 22px;

    border:0;
    background:var(--red);

    color:#fff;
    text-decoration:none;
    font-weight:700;

    cursor:pointer;
}

.primary-button span{
    font-size:20px;
}


.movie-table{
    width:100%;
    min-width:760px;
    border-collapse:collapse;
}

.movie-table th,
.movie-table td{
    padding:17px 18px;
    border-bottom:1px solid #eee;
    text-align:left;
    font-size:14px;
}

.movie-table th{
    background:#171719;
    color:#ddd;
    font:11px 'DM Mono',monospace;
    letter-spacing:.06em;
}

.movie-table td{
    color:var(--muted);
}

.movie-table .title{
    color:var(--ink);
    font-weight:700;
}

.actions{
    display:flex;
    gap:12px;
    align-items:center;
}

.actions form{
    margin:0;
}

.text-button{
    border:0;
    background:none;
    padding:0;

    font:700 13px 'Noto Sans KR',sans-serif;

    color:#222;

    cursor:pointer;

    text-decoration:underline;
}

.text-button.danger{
    color:var(--red);
}